In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [10]:
imdb_names = pd.read_csv('imdb.name.basics.csv')
imdb_title_akas = pd.read_csv('imdb.title.akas.csv')
imdb_title_basics = pd.read_csv('imdb.title.basics.csv')
imdb_title_crew = pd.read_csv('imdb.title.crew.csv')
imdb_title_principals = pd.read_csv('imdb.title.principals.csv')
imdb_title_ratings = pd.read_csv('imdb.title.ratings.csv')
bo_mojo = pd.read_csv('bom.movie_gross.csv')
rt_movies= pd.read_csv('rt.movie_info.tsv', sep='\t', index_col=False, encoding = 'unicode_escape')
rt_reviews = pd.read_csv('rt.reviews.tsv', sep='\t', index_col=False, encoding = 'unicode_escape')
the_numbers = pd.read_csv('tn.movie_budgets.csv')
theMovieDB = pd.read_csv('tmdb.movies.csv')

In [13]:
imdb_title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [24]:
imdb_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [19]:
imdb_title_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
tconst           73856 non-null object
averagerating    73856 non-null float64
numvotes         73856 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [21]:
imdb_title_ratings.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [ ]:
#new big table should have title, run time, ratings, profitability

some_dataframe.set_index('name_of_index_column', inplace=True)
some_dataframe.set_index('name_of_index_column', inplace=True)
some_dataframe.set_index('name_of_index_column', inplace=True)

to_concat = [df1, df2, df3]
runtimes_df = pd.concat(to_concat)